<%- include('../partials/header') %>

<h2>โ Thรชm Nhร cung cแบฅp</h2>

<form action="/suppliers" method="POST">
  <label>Tรชn nhร cung cแบฅp:</label><br>
  <input type="text" name="name" required><br><br>

  <label>ฤแปa chแป:</label><br>
  <input type="text" name="address"><br><br>

  <label>Sแป ฤiแปn thoแบกi:</label><br>
  <input type="text" name="phone"><br><br>

  <button type="submit">๐พ Lฦฐu</button>
</form>

<a href="/suppliers">โฌ๏ธ Quay lแบกi</a>

<%- include('../partials/footer') %>
