 <!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Supplier - Product CRUD</title>
  <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
  <nav>
    <a href="/suppliers">Suppliers</a> |
    <a href="/products">Products</a>
  </nav>
  <% if (success && success.length) { %>
    <div class="flash success"><%= success %></div>
  <% } %>
  <% if (error && error.length) { %>
    <div class="flash error"><%= error %></div>
  <% } %>
  <main>
