<%- include('../partials/header') %>

<h2>โ Thรชm sแบฃn phแบฉm</h2>

<form action="/products" method="POST">
  <label>Tรชn sแบฃn phแบฉm:</label><br>
  <input type="text" name="name" required><br><br>

  <label>Giรก:</label><br>
  <input type="number" name="price" required><br><br>

  <label>Sแป lฦฐแปฃng:</label><br>
  <input type="number" name="quantity" required><br><br>

  <label>Nhร cung cแบฅp:</label><br>
  <select name="supplier" required>
    <% suppliers.forEach(s => { %>
      <option value="<%= s._id %>"><%= s.name %></option>
    <% }) %>
  </select><br><br>

  <button type="submit">๐พ Lฦฐu</button>
</form>

<a href="/products">โฌ๏ธ Quay lแบกi</a>

<%- include('../partials/footer') %>
